#outer{
height:450px;
width:350px;
border-radius:10px;
margin:0px auto;
background:linear-gradient(white,#512B81);
background-size:cover;
border: 2px solid;
}

#inner{
height:429px;
width:329px;
border-radius:10px;
margin:10px auto;
background:transparent;
backdrop-filter: blur(5px);
border:0.5px solid transparent;
}

#top{
height:40px;
width:329px;
margin:10px;
}

#search{
height:40px;
width:300px;
float:left;
}

#search input{
height:35px;
width:270px;
border-radius:30px;
background:transparent;
font-size:15px;
padding-left:10px;
padding-right:10px;
}

#icon{
height:40px;
width:29px;
float:right;
}

#btn{
margin-left:-25px;
height:35px;
width:35px;
border-radius:30px;
}

#middle{
height:280px;
width:329px;
font-family:calibri;
}

#temp{
font-size:55px;
font-weight:bold;
}

#city{
font-size:30px;
font-weight:bold;
}

#lower{
height:80px;
width:329px;
}

#left{
height:80px;
width:49%;
float:left;
}

#right{
height:80px;
width:49%;
float:right;
}

.child1{
height:45px;
width:40px;
margin-left:10px;
margin-top:15px;
float:left;
}

.child2{
height:45px;
width:90px;
margin-top:15px;
margin-right:15px;
float:right;
}

.child21{
height:23px;
width:90px;
font-family:calibri;
font-size:20px;
font-weight:bold;
}

.child22{
height:18px;
width:80px;
font-family:calibri;
font-size:15px;
font-weight:bold;
}

